.page {
  height: 100vh;
  width: 100vw;
}

.map {
  width: 50%;
}

.sidebar {
  width: 70%;
  box-shadow: inset -4px 4px 13px #c3c3c3;
}

.list {
  width: 30%;
  min-width: 320px;
  padding: $offset;
  background: var(--light-grey-color);
}

.pick-point {
  text-align: left;
  width: 100%;
  transition: var(--transition);
  box-shadow: inset -1px -1px 2px var(--grey-color);
  cursor: pointer;
  background-color: #fff;
  margin: $offset 0 ;

  &:hover {
    box-shadow: inset 1px 1px 4px var(--grey-color);
  }

  &__address {
    padding: 0 $offset;
  }
}

.budgets {
  display: inline-block;
  padding: $offset;
  margin: $offset;
  box-shadow: inset -1px -1px 2px var(--grey-color);
}
